{% extends "base.html" %} {% block title %}Đơn giải trình{% endblock %} {% block
content %}
<table class="table table-hover align-middle">
  <thead class="table-light">
    <tr>
      <th>Người giải trình</th>
      <th>Lớp học phần</th>
      <th>Nội dung bị khoá</th>
      <th>Lý do</th>
      <th class="text-center" style="min-width: 150px">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    {% for e in explanations %}
    <tr style="cursor: pointer">
      <td>
        <div class="d-flex align-items-center gap-2">
          <div
            class="rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center"
            style="width: 36px; height: 36px; font-weight: 700"
          >
            LT
          </div>
          <div>
            <div class="fw-semibold">{{ e.student_username }}</div>
            <div class="text-muted small">{{ e.student_email }}</div>
          </div>
        </div>
      </td>
      <td>
        <div class="fw-semibold">{{ e.class }}</div>
      </td>
      <td>{{ e.lock_part }}</td>
      <td>{{ e.reason }}</td>
      <td class="text-center" style="min-width: 150px">
        <span
          class="badge {% if e.state == 'pending' %} bg-secondary {% elif e.state == 'delice' %} bg-danger {% else %} bg-success {% endif %}"
        >
          {{ e.state }}
        </span>
        <div class="small">{{ e.manager_username }}</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
